/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue:#061228;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-blue:#062A40;
  --color-llight-blue:#234459;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --anmimation-duration: 300ms;

}

/* Typography */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  background-color:var(--color-light-white);
}

a{
  text-decoration: none;
  color: var(--color-white);
}

ul{
list-style: none;
padding-left: 0;
}

li{
  list-style:  none;
}

button{
background-color: transparent;
cursor: pointer;
border: none;
outline:  none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--color-white);
  padding: 10px;
  background-color:transparent;
  transition: all var(--anmimation-duration) ease-in-out;
}
#navbar.navbar--dark{
  background-color: var(--color-dark-blue);
  padding: 8px;
  z-index: 2;
}

.navbar__menu{
  display: flex;
}
.navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}

.navbar__logo img{
  width: 60px;
  margin-right: 5px;
}
.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border:  1px  solid transparent;
  border-radius: var(--size-border-radius);
}

.menu_active:hover{
  border:  1px  solid var(--color-white);
  border-radius: var(--size-border-radius);
  background-color:var( --color-light-blue);
}

.menu_btn{
  padding: 9px 13px;
}

.navbar__sub__menu{
  position:absolute;
  text-align: left ;
  width: 0px;
  height:  160px;
  top: 65px;
  right: 0px;
  font-size: var(--font-regular);
  color: var(--color-white);
  background-color: transparent;
  transition: all var(--anmimation-duration) ease-in-out;
  overflow: hidden;
  white-space:nowrap;
}
.sub__menu__item{
  padding: 4px 3px;
  margin: 0 4px;
  cursor: pointer;
  border:  1px  solid transparent;
  border-radius: var(--size-border-radius);
}
.sub__menu__item:hover{
  border:  1px  solid var(--color-white);
  border-radius: var(--size-border-radius);
  background-color:var( --color-light-blue);
}
.sub__menu {
  position:absolute;
  top :0;
  left: 0;
  width: 100%;
}
.navbar__menu__btn{
  font-size: 20px;
  transition: all var(--anmimation-duration) ease-in-out;
}
.sub__menu__icon{
  margin-right: 5px;
}
.sub__menu__name {
  display: block;
  text-align: center;
  font-size: 20px;
}
.sub__menu__name.open_name{
  display: none;
}
.login_state{
  display: none;
}
.navbar__sub__menu.open_menu{
  width: 130px;
}
.open_menu_btn{
  color: var(--color-yellow);
  transform: scale(1.2);
}
.navbar__toggle-btn{
  position:absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}


/* Home */
#Home{
  background: url("../../../public/imgs/bubble-animated-background.svg");
  background-color: var(--color-black);
  padding: 20px;
  padding-top: 90px;
  text-align: center;
}

.home__avatar{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.home__title,.home__description{
  color: var(--color-white);
}

.home__contact{
  color:var(--color-white);
  font-size:  var(--font-regular);
  font-weight:  var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section{
  padding:  50px;
  text-align: center;
  margin: auto;
}
.section__container{
  max-width: 1200px;
  margin: auto;
}



/* About */
.about__description{
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 5px;
}

.about__description h2{
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  margin-right:15px;
}

.about__description p{
  margin-top: 10px;
}

.about__impormation{
  margin: 20px 0px;
}
.job{
  display: flex;
  align-items: center;
}
.job__logo{
  width: 100px;
  height: 70px;
}
.job__description{
  margin: 0 16px;
  text-align:  left;
}

.job__name,.job__period{
  color:var(--color-light-grey)
}
.job__name{
font-size: var(--font-small);
}
.job__period{
font-size: var(--font-micro);
}
.job .fa-id-card{
  font-size: 50px;
  margin:10px 20px;
}


/* Skill */

#skills{
  background-color:  var(--color-light-blue);
}
#skills h1, #skills h2, #skills p{
  color: var(--color-white);
}
.skills__majors h2{
  font-weight: var(--weight-semi-bold);
}

.skills__majors .major{
  position: relative;
  padding: 10px 25px;
}

.skills__major__description{
  position: absolute;
  padding: 25px 35px;
  background-color:  var(--color-black);
  color: var(--color-white);
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  border-radius: 30px;
  transform: translateY(10px);
  transition: all var(--anmimation-duration) ease;
}
.skills__major__description .skill__bar{
  margin-bottom: 10px;
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skills__major__description .skill__value{
  height: 3px;
  background-color: var(--color-blue);
}

.skills__major__description .skill__description span, .skills__major__description .major_title_icon{
  margin: 0 3px;
}
.major:hover .skills__major__description
{
  opacity: 0.9;
  transform: translateY(0px);
}


.skillset{
  display: flex;
  flex-direction: column;
  background-color:#376B8C;
  color:var(--color-light-white);
  width: 100%;
  margin: auto;
  margin-top: 35px;
}

.skillset__title{
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}


.tools{
  background-color: var(--color-llight-blue);
}

.tools, .etc{
  padding: 5px;
}

.skills__majors{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.major__icon{
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px; 
  /*line height을 사용하여 가운데 정렬 */
  margin: auto;
  color: var(--color-light-white);
  border: 1px solid var(--color-light-white);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__title, .major__description{
  color:var(--color-white);
  justify-content: space-between;
}


.major__description{
  font-size: var(--font-small);

}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value:0%;
}

/* Major skills */
.wrap-circles{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.circle {
  position: relative;
  width: 155px;
  height: 155px;
  margin: 0.5rem;
  border-radius: 50%;
  background: var(--color-dark-grey);
  overflow: hidden;
  transition: --p 0.7s;
  
}
.circle.per-html{
  background-image: conic-gradient(var(--color-blue) var(--p), var(--color-dark-grey) 0);
}

.circle.per-c{
  background-image: conic-gradient(var(--color-blue) var(--p), var(--color-dark-grey) 0);
}

.circle.per-css{
  background-image: conic-gradient(var(--color-blue) var(--p), var(--color-dark-grey) 0);
}

.circle.per-java {
  background-image: conic-gradient(var(--color-blue) var(--p), var(--color-dark-grey) 0);
}

.circle.per-javascript{
  background-image: conic-gradient(var(--color-blue) var(--p), var(--color-dark-grey) 0);
}

.select
{
  opacity: 0;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background:var(--color-light-blue);
  border-radius: 50%;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color:var(--color-white);
  transition: all var(--anmimation-duration) ease-in;
}

.per-html:hover,
.per-html:hover .select{
  --p: 99%;
  opacity: 1;
}

.per-c:hover,
.per-c:hover .select{
  --p: 95%;
  opacity: 1;
}

.per-css:hover,
.per-css:hover .select
{
  --p:90%;
  opacity: 1;
}
.per-java:hover,
.per-java:hover .select
{
  --p:90%;
  opacity: 1;
}
.per-javascript:hover
,.per-javascript:hover .select{
  --p:80%;
  opacity: 1;
}



/* Work */
.work__projects{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 1600px;
}

.project_left
{ 
  right: 300px ;
}
.project_right
{
  left: 300px
}
.project{
  /* project 에서 relative 선언함으로써 부모 */
  position: relative;
  display: flex;
  align-items: center;
  width: 350px;
  height: 320px;
  margin: 50px 2px;
  background-color: var(--color-light-white);
}
.project__img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
  border: 2px solid var(--color-dark-blue);
}
.project__description{
  position: absolute;
  background-color: var(--color-black);
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--anmimation-duration) ease-in;
  border-radius: 5%;
}

.project:hover .project__description
{
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3{ 
  color: var(--color-blue);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin: 10px 0;
}

.description_text{
  margin-bottom: 55px;
  color: var(--color-light-white);
}
.description__icon{
  margin:0 55px;
  display: flex;
  justify-content: space-around;

}

.description__icon .workIcon{
  font-size: 45px;
  color: var(--color-light-white);
  transition: all var(--anmimation-duration) ease;
}

.description__icon .workIcon:hover{
  color: var(--color-blue);
  transform: scale(1.1);
}

.project__description h3:after {
  content:  '';
  display: block;
  position: relative;
  left: 50%;
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-light-white);
}


/* SCROLL Boll */
.iconmouse{
  position: absolute; 
  bottom:1600px; 
  left: 50%; 
  transform: translate(-50%, 0);
  z-index: 1; 
  width: 30px; 
  height: 50px; 
  border:2px solid #000; 
  border-radius: 20px;
}
@keyframes Mouse_act
{
0%{transform:translateY(5px);}
50%{transform:translateY(-5px);}
100%{transform:translateY(5px);}

}
.iconmouse::before{
  
  content: 'SCROLL'; 
  display: block; 
  position: absolute; 
  top: -25px; 
  left: 50%; 
  margin-left: -30px; 
  width: 60px; 
  font-size: 16px; 
  color: var(--color-black); 
  letter-spacing: 0px; 
  font-weight:var(--weight-semi-bold);

}
.iconmouse .ball{
  position: absolute; 
  top: 7px; 
  left: 11px; 
  width:4px; 
  height: 4px; 
  background: #000; 
  border-radius: 50%; 
  animation: Mouse_act 1s ease-out infinite;}

/* Contact */
#contact{
  background-color: var(--color-dark-blue);
}
.contact__title
,.contact__email
,.contact__rights{
  color:var(--color-white);
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;

}
.contact__links .contactIcon{
  transition: all var(--anmimation-duration) ease-in;
  margin: 0  10px;
}

.contact__links .contactIcon:hover{
transform: scale(1.1);
color: var(--color-yellow);
}



/* For below 768px screen width */
@media screen and (max-width:768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-blue);
    z-index: 2;
  }
  .navbar__menu{
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu__btn{
    display: none;
  }

  .navbar__menu.open{
    display: block;
  }
  .skills__majors{
    flex-direction: column;
  }
  .major{
    margin-bottom: 38px;
  }

  .skillset{
    flex-direction: column;
  }
  .wrap-circles{
    flex-direction: column;
    align-items: center;
  }

  .project{
    flex-grow: 1;
  }
  .project_left
  { 
    right: 0;
  }
  .project_right
  {
    left: 0;
  }

}
